.gradient {
	background: #134e5e;
	background: -webkit-linear-gradient(to left,#71b280,#134e5e);
	background: linear-gradient(to left,#71b280,#134e5e);
}
/*.uk-navbar-container:not(.uk-navbar-transparent).gradient, .gradient {
	background: #134e5e;
	background: -webkit-linear-gradient(to left,#71b280,#134e5e);
	background: linear-gradient(to left,#71b280,#134e5e);
}
.uk-modal-dialog {
	background: #212529;
}
h1, h2, h3 {
	color: #fff;
}
p {
	color: rgba(255,255,255,.7);
}
a, a:hover, .uk-icon-link {
    color: #abd037;
}
.uk-text-white {
	color: #e5e5e5 !important;
}
*/