body {
	background: #212529;
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}
.content {
  flex: 1;
}
.header.item{
    font-size: 1.2rem;
}
.header.item img.logo{
    margin-right: 0.5rem !important;
}
.ui.menu.nav {
	background: #134e5e;
	background: -webkit-linear-gradient(to left,#71b280,#134e5e);
	background: linear-gradient(to left,#71b280,#134e5e);
}
.ui.menu.nav .header {
	color: #fff;
}
.ui.vertical.menu {
    width: unset;
}
.row.dashboard .column:first-child {
	flex: 0 0 16rem;
	margin-right: -1rem;
}
.row.dashboard .column:nth-child(2){
	flex: 1;	
}
#serverConsole{
	color: #9c9c9d;
	background-color: inherit;
	border: none;
	max-width: 100%;
	min-width: 100%;

	min-height: 20rem;
	height: 20rem;
    outline: none;
	resize: none;
}
.color-0 {
	color: #d65554 !important;
}
.color-2 {
	color: #888 !important;
}
.color-1 {
	color: #71b280 !important;
}
.color-3, .color-4 {
	color: #eda60e !important;
}
.ui.footer.segment {
	margin-top: 2rem;
}
.divided.link.list {
	margin-top: 0;
}
.ui.input>input, input:focus  {
	color: #9c9c9d !important;
	background-color: #3a3a3a !important;
}
.ellipseOverflow{
	text-overflow: ellipsis;
	overflow: hidden; 
	white-space: nowrap;
}
/* protect against long server names (temp)*/
.ui.horizontal.segments>.segment { 
    min-width: unset;
}

@media only screen and (max-width: 499px) {
	.hideOnSmallScreens {
		content-visibility:hidden;
	}
}